---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

/*** onecolumn layout ***/

.liri-ribbon {
    width: 100%;
    height: 40vh;
    background-color: antiquewhite;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.liri-main {
    margin-top: -35vh;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.liri-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.liri-content {
    border-radius: 2px;
    padding: 80px 56px;
    margin-bottom: 80px;
}

.liri-layout.is-small-screen .liri-content {
    padding: 40px 28px;
}

.liri-content h3 {
    margin-top: 48px;
}

.liri-bird {
    font-size: 24px;
    opacity: 1;
    margin: 0 24px;
}

.pointer {
    cursor: pointer;
}


.no-padding-top {
    padding-top: 0;
}

.no-padding-bottom {
    padding-bottom: 0;
}

.primary-text {
    color: rgba(0, 0, 0, 0.87);
}

.secondary-text {
    color: rgba(0, 0, 0, 0.54);
}


@media screen and (min-width: 1024px) {
    .mdl-layout__drawer-button {
        /* Hide the Hamburger button but will leave an unused space */
        display: none;
    }
    .mdl-layout__header-row {
        /* so important to make sure the Hamburger button didn't leave an unused space */
        padding-left: 24px !important;
    }
}