---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

article.page {
  margin: 0;
  padding: 0;

  header {
    padding: 1rem;
    margin-bottom: 15px;
    width: 100%;

    h1 {
      font-weight: 200;
    }
  }
}

.ribbon {
  width: 100%;
  height: 40vh;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.content {
  background-color: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  overflow: hidden;
  z-index: 9;
  margin-top: -120px;
  margin-bottom: 50px;

  article {
    padding: 66px 56px;

    h1 {
      font-weight: 200;
    }
  }
}
