---
---

ul.toc {
    border-left: solid 3px #c0ebf1;
    padding-left: 20px;
    line-height: 28px;

    li {
        font-size: 16px;
        list-style: none;

        a {
            font-weight: 400;
            color: #00bcd4;
            text-decoration: none;
        }
    }
}