      <footer class="mdl-mega-footer">
        <div class="mdl-mega-footer--top-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Liri</h1>
          <ul class="mdl-mega-footer--link-list">
            <li>An OS and apps built with modern design and features.</li>
          </ul>
        </div>
        <div class="mdl-mega-footer--middle-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Information</h1>
          <ul class="mdl-mega-footer--link-list">
            <li><a href="{{ site.baseurl }}/team">Team</a></li>
            <li><a href="{{ site.baseurl }}/community/code-of-conduct">Code of Conduct</a></li>
            <li><a href="{{ site.baseurl }}/community/governance-model">Governance Model</a></li>
          </ul>
        </div>
        <div class="mdl-mega-footer--middle-section">
          <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
          <h1 class="mdl-mega-footer--heading">Social</h1>
          <ul class="mdl-mega-footer--link-list">
            {% if site.social_networks.github %}<li><a href="https://github.com/{{ site.social_networks.github }}">GitHub</a></li>{% endif %}
            {% if site.social_networks.googleplus.page %}<li><a href="https://plus.google.com/u/0/{{ site.social_networks.googleplus.page }}">Google+ Page</a></li>{% endif %}
            {% if site.social_networks.googleplus.community %}<li><a href="https://plus.google.com/u/0/communities/{{ site.social_networks.googleplus.community }}">Google+ Community</a></li>{% endif %}
            {% if site.social_networks.youtube %}<li><a href="https://www.youtube.com/channel/{{ site.social_networks.youtube }}">YouTube</a></li>{% endif %}
            {% if site.social_networks.facebook %}<li><a href="https://www.facebook.com/{{ site.social_networks.facebook }}">Facebook</a></li>{% endif %}
            {% if site.social_networks.twitter %}<li><a href="https://twitter.com/{{ site.social_networks.twitter }}">Twitter</a></li>{% endif %}
            {% if site.social_networks.reddit %}<li><a href="https://www.reddit.com/r/{{ site.social_networks.reddit }}">Reddit</a></li>{% endif %}
            {% if site.social_networks.medium %}<li><a href="https://www.medium.com/{{ site.social_networks.medium }}">Medium</a></li>{% endif %}

          </ul>
        </div>
        <div class="mdl-mega-footer--bottom-section">
          <div class="mdl-logo">
            &copy; {{ site.time | date: '%Y' }} Liri. <span class="hide-on-small-only">All trademarks and registered trademarks are the property of their respective owners.</span>
          </div>
        </div>
      </footer>
