<div class="mdl-layout__drawer">
    <!-- Mobile title -->
    <span class="mdl-layout-title"><i class="icon-liri" style="margin-right: 12px;"></i>{{ site.title }}</span>
    <!-- Mobile navigation -->
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/">Home</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/blog">News</a>
        <a class="mdl-navigation__link" href="https://blog.liri.io">Blog</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/apps">Apps</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/screenshots">Screenshots</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/get-involved">Get Involved</a>
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/download">Download</a>
    </nav>
</div>
