---
import SiteLayout from '@layouts/SiteLayout.astro';
---

<SiteLayout title="How to Burn the Live DVD" variant="post">
  <div class="ribbon" aria-hidden="true"></div>
  <article class="content-surface prose">
    <h1>How to Burn the Live DVD</h1>
    <p>
      There are many ways to burn it. Shown below is a list of guides and DVD
      burning applications for different operating systems.
    </p>

    <h2>Ubuntu</h2>
    <ul>
      <li><a href="https://help.ubuntu.com/community/BurningIsoHowto#Ubuntu" target="_blank">Burning ISO How To</a> for Ubuntu, Kubuntu, and Xubuntu</li>
    </ul>

    <h2>Arch Linux</h2>
    <ul>
      <li><a href="https://wiki.archlinux.org/index.php/CD_Burning#Burning_an_ISO_image" target="_blank">Burning an ISO image</a></li>
    </ul>

    <h2>FreeBSD</h2>
    <ul>
      <li><a href="http://www.freebsd.org/doc/en_US.ISO8859-1/books/handbook/creating-cds.html#BURNCD" target="_blank">Section 18.6.3</a> of the FreeBSD Handbook</li>
    </ul>

    <h2>macOS</h2>
    <ul>
      <li><a href="http://simplyburns.berlios.de/" target="_blank">SimplyBurns</a></li>
    </ul>

    <h2>Windows</h2>
    <ul>
      <li><a href="http://infrarecorder.org" target="_blank">InfraRecorder</a> (Open Source)</li>
      <li><a href="http://www.imgburn.com" target="_blank">ImgBurn</a> (freeware)</li>
      <li><a href="http://isorecorder.alexfeinman.com/isorecorder.htm" target="_blank">ISO Recorder</a> (freeware)</li>
      <li><a href="http://www.ntfs.com/iso_burner_free.htm" target="_blank">Active@ ISO Burner</a> (freeware)</li>
    </ul>
  </article>
</SiteLayout>
