---
layout: base
---

<nav class="white" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="{{ site.baseurl }}/" class="brand-logo"><img src="{{ site.baseurl }}/images/logo-100.png" width="100" height="100" title="Logo"/></a>

    <ul class="right hide-on-med-and-down">
      <li class="waves-effect"><a href="#">About</a></li>
      <li class="waves-effect"><a href="#">Blog</a></li>
      <li class="waves-effect"><a href="#">Screenshots</a></li>
      <li class="waves-effect"><a href="#">Develop</a></li>
      <li class="waves-effect"><a href="#">Get Involved</a></li>
      <li class="waves-effect"><a href="#">Support</a></li>
      <li class="waves-effect"><a href="#">Download</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="waves-effect" href="#">About</a></li>
      <li><a class="waves-effect" href="#">Blog</a></li>
      <li><a class="waves-effect" href="#">Screenshots</a></li>
      <li><a class="waves-effect" href="#">Develop</a></li>
      <li><a class="waves-effect" href="#">Get Involved</a></li>
      <li><a class="waves-effect" href="#">Support</a></li>
      <li><a class="waves-effect" href="#">Download</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse waves-effect"><i class="material-icons">menu</i></a>
  </div>
</nav>

{{ content }}

<footer class="page-footer primary">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Liri</h5>
        <p class="grey-text text-lighten-4">An OS and apps built with modern design and features.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Information</h5>
        <ul>
          <li><a class="white-text" href="{{ site.baseurl }}/team">Team</a></li>
          <li><a class="white-text" href="{{ site.baseurl }}/community/code-of-conduct">Code of Conduct</a></li>
          <li><a class="white-text" href="{{ site.baseurl }}/community/governance-model">Governance Model</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          {% if site.social_networks.github %}<li><a class="white-text" href="https://github.com/{{ site.social_networks.github }}">GitHub</a></li>{% endif %}
          {% if site.social_networks.googleplus.page %}<li><a class="white-text" href="https://plus.google.com/u/0/{{ site.social_networks.googleplus.page }}">Google+ Page</a></li>{% endif %}
          {% if site.social_networks.googleplus.community %}<li><a class="white-text" href="https://plus.google.com/u/0/communities/{{ site.social_networks.googleplus.community }}">Google+ Community</a></li>{% endif %}
          {% if site.social_networks.youtube %}<li><a class="white-text" href="https://www.youtube.com/channel/{{ site.social_networks.youtube }}">YouTube</a></li>{% endif %}
          {% if site.social_networks.facebook %}<li><a class="white-text" href="https://www.facebook.com/{{ site.social_networks.facebook }}">Facebook</a></li>{% endif %}
          {% if site.social_networks.twitter %}<li><a class="white-text" href="https://twitter.com/{{ site.social_networks.twitter }}">Twitter</a></li>{% endif %}
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      &copy; 2016 Liri. <span class="hide-on-small-only">All trademarks and registered trademarks are the property of their respective owners.</span>
    </div>
  </div>
</footer>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/materialize/materialize.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/init.js"></script>

{% if jekyll.environment == 'production' %}
  {% include analytics.html %}
{% endif %}
