---
layout: base
---
<style>
  .pt32 {
    padding-top: 32px;
  }
</style>

<!-- Always shows a header, even in smaller screens. -->
<div class="liri-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <i class="icon-liri liri-bird pointer" onclick="location.href='{{ site.baseurl }}/'"></i>
      <span class="mdl-layout-title pointer mdl-layout--large-screen-only"
            onclick="location.href='{{ site.baseurl }}/'">Liri</span>
      <span class="mdl-layout-title mdl-layout--small-screen-only">{{ page.title | escape }}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      {% include large-screen-nav.html %}
    </div>
  </header>
  <!-- Mobile navigation -->
  {% include mobile-nav.html %}
  <div class="liri-ribbon mdl-color--primary"></div>
  <main class="liri-main mdl-layout__content">
    <div class="liri-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="liri-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col pt32">
        <a name="top"></a>
        {{ content | toc }}
      </div>
    </div>
    {% include footer.html %}
  </main>
</div>