---
layout: base
---

<style>
  .liri-bird {
    width: 32px;
    height: 32px;
    opacity: 1;
    margin: 0 24px;
  }

  .primary-icon {
    color: rgba(0, 0, 0, 0.54)
  }

  @media screen and (min-width: 1024px) {
    .mdl-layout__drawer-button {
      /* Hide the Hamburger button but will leave an unused space */
      display: none;
    }
    .mdl-layout__header-row {
      /* so important to make sure the Hamburger button didn't leave an unused space */
      padding-left: 24px !important;
    }
  }
</style>

<!-- Always shows a header, even in smaller screens. -->
<div class="liri-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--scroll">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <a href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/images/liri-bird.svg" alt="" class="liri-bird">
      </a>
      <span class="mdl-layout-title">Liri</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      {% include large-screen-nav.html %}
    </div>
  </header>
  <!-- Mobile navigation -->
  {% include mobile-nav.html %}
  <div class="liri-ribbon mdl-color--primary"></div>
  <main class="liri-main mdl-layout__content">
    <div class="liri-container mdl-grid">
      <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
      <div class="mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <div class="mdl-grid" style="border-bottom: solid rgba(0,0,0,0.12) 1px">
          <div class="mdl-cell mdl-cell--1-col mdl-cell--middle">
            <a href="javascript: history.go(-1)" class="primary-icon">
              <button class="mdl-button mdl-js-button mdl-button--icon">
                <i class="material-icons">arrow_back</i>
              </button>
            </a>
          </div>
          <div class="mdl-cell mdl-cell--10-col mdl-cell--middle">
            <span style="font-size: 18px">{{ page.title }}</span>
          </div>
          <div class="mdl-cell mdl-cell--1-col mdl-cell--middle primary-icon">
            <button class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">share</i>
            </button>
          </div>
        </div>
        <div style="padding: 32px">
          {{ content | toc }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </main>
</div>